body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.row1, .row2{
    padding: .5em;
    margin: .5em;
}

.col1, .col2, .col3{
    padding: .5em;
}

.row1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.input__day, .input__month, .input__year{
    padding: .5em;
    width: 30%;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin: .5em;
}